CXFwebservices/WebContent/wsdl/calc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalcService" targetNamespace="http://util.math/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://util.math/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema targetNamespace="http://util.math/" version="1.0" xmlns:tns="http://util.math/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="add" type="tns:add"/>

  <xs:element name="addResponse" type="tns:addResponse"/>

  <xs:element name="multiply" type="tns:multiply"/>

  <xs:element name="multiplyResponse" type="tns:multiplyResponse"/>

  <xs:complexType name="add">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiply">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="multiply">
    <wsdl:part name="parameters" element="tns:multiply">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part name="parameters" element="tns:add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="tns:addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplyResponse">
    <wsdl:part name="parameters" element="tns:multiplyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Calc">
    <wsdl:operation name="add">
      <wsdl:input name="add" message="tns:add">
    </wsdl:input>
      <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input name="multiply" message="tns:multiply">
    </wsdl:input>
      <wsdl:output name="multiplyResponse" message="tns:multiplyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcServiceSoapBinding" type="tns:Calc">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap12:operation soapAction="urn:Add" style="document"/>
      <wsdl:input name="add">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <soap12:operation soapAction="urn:Multiply" style="document"/>
      <wsdl:input name="multiply">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplyResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="CalcPort" binding="tns:CalcServiceSoapBinding">
      <soap12:address location="http://localhost:8080/CXFwebservices/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
